    <div class="hero">
        <div class="logo">
            <img src="../../assets/img/logo.png" alt="logo">
            <h1>LOGO NAME</h1>
        </div>
        <div class="login">
            <h1 class="logo-name">LOGO NAME</h1>
            <form action="">
                <div class="login__field">

					<input type="text" class="login__input" placeholder="User name">
                    <input type="password" class="login__input" placeholder="Password">
                    <button class="button login__submit">
                        <span class="button__text">Log In Now</span>
                        <i class="bi bi-arrow-right-short" style="color: black;"></i>
                    </button>
                    <div class="more">
                        <a href="#">SIGN UP</a>
                        <a href="#">Forgot your password?</a>
                    </div>
				</div>
            </form>
            <img src="../../assets/img/logo.png" alt="logo" class="logo1">
        </div>

    </div>
