<main>
  <!--------Mobile Version ------------------------------------------>
  <div class="sectoin-mobile">
    <header class="header-mobile">
        <div class="user-name-mobile">

            <img src="../../assets/img/usr.jpg" style="width: 50px;">
            <a href="#">User-name</a>
        </div>
        

    </header>
  </div>






  <!--------Desktop Version ------------------------------------------>
  <div class="section">
    <div class="left-side">
      <div class="user-name">
        <img
          src="../../assets/img/usr.jpg"
          alt="profile-img"
          class="profile-img"
        />
        <a href="#">user-name</a>
      </div>
      <div class="side-bar">
        <ul class="side-list">
          <li class="side-item">
            <i class="bi bi-person-lines-fill"></i> profile
          </li>
          <li class="side-item"><i class="bi bi-ui-radios"></i> setting</li>
          <li class="side-item"><i class="bi bi-patch-question"></i> help</li>
          <li class="side-item">
            <i class="bi bi-box-arrow-left"></i> Log Out
          </li>
        </ul>
        <a href="#"><i class="bi bi-headset"></i> Support</a>
      </div>
    </div>
    <div class="right"></div>
    <div class="right-side">
      <div class="explor">
        <div class="account-name">
          <img src="../../assets/img/usr.jpg" alt="user-name" />
          <a href="#">Account name</a>
        </div>
        <div class="image">
          <div>
            <img src="../../assets/img/img (2).jpg" alt="" />
          </div>
          <div class="like">
            <i class="bi bi-three-dots"><a href="#"></a></i>

            <i class="bi bi-heart" style="display: none"><a href="#"></a></i>
            <i class="bi bi-heart-fill"><a href="#"></a></i>
          </div>
          <hr />
        </div>
      </div>
      <div class="explor">
        <div class="account-name">
          <img src="../../assets/img/usr.jpg" alt="user-name" />
          <a href="#">Account name</a>
        </div>
        <div class="image">
          <div>
            <img src="../../assets/img/img (2).jpg" alt="" />
          </div>
          <div class="like">
            <i class="bi bi-three-dots"></i>
            <i class="bi bi-heart" style="display: none"></i>
            <i class="bi bi-heart-fill"></i>
          </div>
          <hr />
        </div>
      </div>

      <div class="add-pic">
        <a href="#">
          <i class="bi bi-patch-plus-fill"></i>
        </a>
      </div>
    </div>
  </div>
</main>
