<main>
    <div class="section">
        <div class="left-side">
            <div class="user-name">

                <img src="../../assets/img/usr.jpg" alt="profile-img" class="profile-img">
                <a href="#">user-name</a>
            </div>
            <div class="side-bar">
                <ul class="side-list">
                    <li class="side-item">profile</li>
                    <li class="side-item">setting</li>
                    <li class="side-item">help</li>
                    <li class="side-item">Log Out</li>
                </ul>
                <a href="#">Support</a>
            </div>
        </div>
        <div class="right-side">
            <div class="explor">
                <div class="account-name">
                    <img src="../../assets/img/usr.jpg" alt="user-name" style="width: 80px;">
                    <a href="#">Account name</a>
                </div>
                <div class="image">
                    <img src="../../assets/img/img (2).jpg" alt="" style="width: 150px;">
                    <i class="bi bi-suit-heart"></i>

                </div>

            </div>
            <div class="add-pic">
                <a href="#">
                    <i class="bi bi-patch-plus-fill"></i>
                </a>
            </div>
        </div>
    </div>
</main>
