/* You can add global styles to this file, and also import other style files */


@font-face {
    font-family: exo;
    src: url(../src/assets/Exo2-VariableFont_wght.ttf);
}

* {
  font-family: exo , sans-serif;
  font-optical-sizing: auto;
  margin: 0;
  box-sizing: border-box;

}

